<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>A Collection of Page Transitions</title>
		<meta name="description" content="A Collection of Page Transitions with CSS Animations" />
		<meta name="keywords" content="page transition, css animation, website, effect, css3, jquery" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="../static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/multilevelmenu.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/animations.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/visualization_demo.css" />
		<script src="../static/js/modernizr.customcat.js"></script>
		<style>
		.center {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-top: 300px;
			width: 50%;
		  }
		  </style>
	</head>

	<body>	

			<div class="container">
					<header>
						<h1>Project Happiness<span></span></h1>
						<nav class="codrops-demos">
							<a href="/">Analytics</a>
							<a href="/visualization">Visualization</a>
						</nav>
					</header>
			</div>

		<div class="pt-triggers">
			<br><br>
			<button id="iterateEffects" class="pt-touch-button">Show the next</button>
			<div id="dl-menu" class="dl-menuwrapper">
			</div>
		</div>


		<div id="pt-main" class="pt-perspective">
			<div class="pt-page"><img src="../static/img/100.jpg" alt="image01" class="center"></div>
			<div><img src="../static/img/100.jpg" alt="image01" class="center"></div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="../static/js/jquery.dlmenu.js"></script>
		<script src="../static/js/pagetransitions.js"></script>
	</body>
</html>
