<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Happiness</title>
		<!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" type="text/css" href="../static/css/visualization_demo.css" />
		<script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>

	</head>

	<body>

	<div class="container">
			<header>
				<h1>Project Happiness<span></span></h1>
				<nav class="codrops-demos">
					<a href="/">Analytics</a>
					<a href="/visualization">Visualization</a>
				</nav>
			</header>
	</div>
	<br><br>

      <div id="bubble"></div>
		<!-- <script type="text/javascript" src="../static/js/app_jessie.js"></script> -->
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="{{ url_for('static', filename='js/app_jessie.js') }}"></script>
  </body>
</html>