<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Joy and Happiness Analytics</title>
  <!-- <link rel="shortcut icon" href="../favicon.ico"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/book.css" />
  <!-- <link rel="stylesheet" href="../static/css/bootstrap.min.css"> -->
  <script src="../static/js/modernizr.custom.js"></script>


</head>

<body>

<!-- <p>{{cities}}</p> -->
<div class="container">
  <header>
    <h1>Project Happiness<span></span></h1>
    <nav class="codrops-demos">
      <a href="/">Analytics</a>
      <a href="/visualization">Visualization</a>
    </nav>
  </header>
  <div class="component">

    <ul class="align">
      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign yellow">
                <span class="ribbon">NEW!</span>
                <h1>ML</h1>
                <p>Tensorflow</p>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="/tensorflow">Hot Topic</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Machine Learning</h1>
            <!-- <span></span> -->
            <!-- <span>By Sandy</span> -->
            <span>Tensorflow</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <p>In this notebook, we take a Mobilenet model, trained on ImageNet images, and train a new top layer that can recognize other image classes using retrain.py model, developed by Google.</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class='book'>

          <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign blue">
                <span class="ribbon">Data</span>
                <h1>JN</h1>
                <p>Pandas</p>
              </div>
            </li>
            <li></li>
          </ul>

          <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="/pandas">Data Wrangling</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

          <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Jupyter Notebook</h1>
            <!-- <span></span> -->
            <!-- <span>By Tati</span> -->
            <span>Pandas</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <p>In this notebook, we used various techniques we have learned in python to do a linear regression from our data.</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class='book'>

        <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <div class="coverDesign grey">
                <span class="ribbon">Web</span>
                <h1>Flask</h1>
                <p>Jinja2</p>
              </div>
            </li>
            <li></li>
          </ul>

        <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="/flaskcode">Code</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

        <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Flask</h1>
            <!-- <span>By Jessie</span> -->
            <span>Jinja2</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <p>This notebook details all of the codes we used to build a flask webpage that is hosted on heroku.</p>
          </figcaption>
        </figure>
      </li>
      <li>
        <figure class='book'>

        <!-- Front -->

          <ul class='hardcover_front'>
            <li>
              <span class="ribbon">Meow</span>
              <img src="../static/img/200catgreen.png" alt="" width="100%" height="100%">
            </li>
            <li></li>
          </ul>

        <!-- Pages -->

          <ul class='page'>
            <li></li>
            <li>
              <a class="btn" href="/httpcats">More Cats?</a>
            </li>
            <li></li>
            <li></li>
            <li></li>
          </ul>

        <!-- Back -->

          <ul class='hardcover_back'>
            <li></li>
            <li></li>
          </ul>
          <ul class='book_spine'>
            <li></li>
            <li></li>
          </ul>
          <figcaption>
            <h1>Debugging</h1>
            <!-- <span>By Xing</span> -->
            <span>Http Codes</span>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <p>This notebook contains some of the problems we ran into while debugging along with some felines friends we had encountered in the process.</p>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</div>

</body>

</html>